<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>

		<link rel="stylesheet" href="__STATIC__/css/product-detail.css" />
	<script type="text/javascript" src="__STATIC__/js/product-add.js"></script>
	</head>
	<body>
	<div class="orderMain">
		<div class="orderBarDiv">
			<div class="orderBar">
				<img src="__STATIC__/img/header/set.png" />
				<a href="{:url('productlist/productlist')}"><span>商品管理</span></a>
				><a href="{:url('productlist/productlist')}"><span> 所有商品</span></a>
				<span>> 商品详情</span>
			</div>
		</div>
		<div class="inputInforDiv">
			<div class="titleDiv">详细信息</div>
			<div class="inforDiv">
				<div class="valueDiv"><b>图书编号</b><input type="text" name="bookNumber" id="bookNumber" disabled="disabled" value="{$book.bookID}"/></div>
				<div class="valueDiv"><b>书名</b><input type="text" name="bookName" id="bookName" disabled="disabled" value="{$book.bookname}"/></div>
				<div class="valueDiv"><b>作者</b><input type="text" name="bookAuthor" id="bookAuthor" disabled="disabled" value="{$book.author}"/></div>
				
				<div class="valueDiv"><b>价格</b><input type="text" name="bookPrice" id="bookPrice" disabled="disabled" value="{$book.price}"/></div>
				<div class="valueDiv"><b>页数</b><input type="text" name="bookPages" id="bookPages" disabled="disabled" value="{$book.pages}"/></div>
				<div class="valueDiv"><b>字数</b><input type="text" name="bookWords" id="bookWords" disabled="disabled" value=" "/></div>
				
				<div class="valueDiv"><b>出版社</b><input type="text" name="publishComoany" id="publishComoany" disabled="disabled" value="{$book.press}"/></div>
				<div class="valueDiv"><b>版次</b><input type="text" name="publishEdition" id="publishEdition" disabled="disabled" value="{$book.edition}"/></div>
				<div class="valueDiv"><b>出版日期</b><input type="text" name="publishDate" id="publishDate" disabled="disabled" value="{$book.pressdate}"/></div>
				<div class="valueDiv"><b>库存</b><input type="text" name="" id="" disabled="disabled" value="{$book.stock}"/></div>

				<div class="listDiv"><b>开本</b><select name="format" disabled="disabled" value="{$book.booksize}">
					<option>16开</option>
					<option>A4</option>
					<option>A5</option>
					<option>B4</option>
				</select> </div>
				
				<div class="listDiv"><b>包装</b><select name="packaging" disabled="disabled" value="{$book.package}">
					<option>钉装 </option>
					<option>平装 </option>
					<option>胶装</option>
					<option>现状线装</option>
				</select> </div>
				
				<div class="listDiv"><b>用纸</b><select name="paper" disabled="disabled" value="{$book.paper}">
					<option>拷贝纸</option>
					<option>打字纸</option>
					<option>书写纸</option>
					<option>胶装纸</option>
				</select> </div>

				<div class="imgF">
					<div class="imgDiv">
						<img class="img"  src="__STATIC__/img/goods/{$book.bookID}/detail1big.jpg" />
					</div>

					<div class="imgDiv">
						<img class="img"  src="__STATIC__/img/goods/{$book.bookID}/detail2big.jpg" />
					</div>

					<div class="imgDiv">
						<img class="img" src="__STATIC__/img/goods/{$book.bookID}/detail3big.jpg" />
					</div>
				</div>

		</div>
		</div>
	</div>
	</body>
</html>
