<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<style>
		.helloDiv{
			height: 700px;
			width: 100%;
			text-align: center;
			display: table;
		}
		.helloDiv .hello{
			display: table-cell;
			vertical-align: middle;
		}
		.helloDiv .hello span{
			font-family: "微软雅黑";
			font-size: 30px;
			font-weight: bold;
			color: darkgrey;
		}
	</style>
	<body>
		<div class="helloDiv">
			<div class="hello">
				<span>欢迎使用！</span>
			</div>
		</div>
	</body>
</html>
