<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<link rel="stylesheet" href="__STATIC__/css/Sevpasswordchange.css" />
	<link rel="stylesheet" href="__STATIC__/css/book.css" />
	<body>
		<div class="SevChangePwdDiv">
			<div class="sevborderDiv"></div>
			<div class="sevCPDiv"><p>修改密码</p></div>
			<div class="sevCpinputDiv">
				<input type="password" id="current" placeholder="Current Password" onfocus="this.placeholder=''" onblur="this.placeholder='Current Password'"/>
			</div>
			<div class="sevCpinputDiv">
				<input type="password" placeholder="New Password" onfocus="this.placeholder=''" onblur="this.placeholder='New Password'"/>
			</div>
			<div class="sevCpinputDiv">
				<input type="password" placeholder="Confirm New Password" onfocus="this.placeholder=''" onblur="this.placeholder='Confirm New Password'"/>
			</div>
			
			<div class="sevPCbuttonDiv">
				<input type="button" value="提交" />
			</div>
		</div>
	</body>
</html>
