*{
	font-family: "微软雅黑";
	font-size:16px ;
	border: 1px;
}

a{
	text-decoration: none;
}

body{
	width: 80%;
	/*background-color: lightgoldenrodyellow;*/
	background-color: whitesmoke;
	height: auto;
	margin: auto;
}

.main{
	/*height: 1000px;*/
	margin: 20px auto;
	padding: 50px;
}

.card-in{
	padding: 2px;
	margin: 10px;
}