.SevChangePwdDiv{
	margin: 100px auto;
	height: 400px;
	width: 700px;
	background-color: white;
}
.sevborderDiv{
	border: solid dodgerblue 1px;
}
.sevCPDiv{
	margin: 5px;
	
}
.sevCPDiv p{
	font: "微软雅黑";
	font-weight: 600;
	font-size: 40px;
	
}

.sevCpinputDiv{
	margin: 5px;
	
}
.sevCpinputDiv input{
	margin-left: 5px;
	height: 60px;
	width: 500px;
}
.sevPCbuttonDiv{
	
}
.sevPCbuttonDiv input{
	margin-left: 415px;
	width: 100px;
	height: 50px;
	background-color: rgb(100,149,237);
}
