<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__STATIC__/css/book.css" />
		<link rel="stylesheet" href="__STATIC__/css/header.css">
		<link rel="stylesheet" href="__STATIC__/css/foot.css" />
		<script type="text/javascript" src="__STATIC__/js/header.js"></script>
		<script type="text/javascript" src="__STATIC__/js/index.js"></script>
		<link rel="stylesheet" href="__STATIC__/css/orderConfirm.css" />
		<link rel="stylesheet" href="__STATIC__/css/login.css" />
		<script type="text/javascript" src="__STATIC__/js/login.js"></script>
	</head>

	<body>
		<!--
        	作者：杨富宙
        	时间：2018-10-09
        	描述：页面顶部
        -->
		{include file="common/header.html"/}
		<!--
          	作者：XXX
          	时间：2018-10-09
          	描述：页面中部示例
          -->

		<div class="mainDiv">
			<div class="loginMainDiv">
				<!--<iframe class="TopDiv" src="header.html" frameborder="0" scrolling="no"></iframe><!--这是头-->
				<div class="loginCenterDiv">
					<div class="loginMessageDiv">
					<form action="{:url('login/doLogin')}" method="post" name=f>
						<div class="loginMessageTopDiv">
							<div class="LMTopLeft">登录学子商城</div>
							<div id="newRegist" class="LMTopRight" ><a style="color: white;"  href="{:url('Register/register')}">新用户注册</a></div>
							<div class="LMTopBottom">
							</div>
						</div>
						<div class="loginInput">
							<input type="text" id="email" name="email" placeholder="请输入您的邮箱" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的邮箱'" />
						</div>
						<div class="loginInput">
							<input type="password" id="pwd" name="pwd" placeholder="请输入您的密码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的密码'" />
						</div>
						<div class="loginInput loginMessageBottomDiv">
							<input type="submit" value="登录"/>
						</div>
					</form>
					</div>

				</div>
				<!--<iframe class="BottomDiv" src="foot.html" frameborder="0" scrolling="no"></iframe>-->
				<!--<div class="BottomDiv">这是尾</div>-->
			</div>
		</div>

		<!--
        	作者：lajiaopingzi@163.com
        	时间：2018-10-09
        	描述：页面尾部
        -->
		{include file="common/foot.html"/}
	</body>

</html>