<!DOCTYPE html>
<html>
	<head>
		<style>
		
    .pictureDiv.img:hover
    {
        transform: scale(2);  
    }
</style>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__STATIC__/css/book.css" />		
		<link rel="stylesheet" href="__STATIC__/css/header.css">
		<link rel="stylesheet" href="__STATIC__/css/foot.css" />
		<link rel="stylesheet" href="__STATIC__/css/cart.css" />
		<script type="text/javascript" src="__STATIC__/js/header.js"></script>
		<script type="text/javascript" src="__STATIC__/js/jquery-1.4.2.js"></script>
		<script type="text/javascript">
		
$(function(){
	$("#goodsAll").click(function(){
		$("input[type='checkbox']").attr("checked",$("#goodsAll").attr("checked"));
		total();
	});
	$("#goodsAll2").click(function(){
		$("input[type='checkbox']").attr("checked",$("#goodsAll2").attr("checked"));
		total();
	});
	
	sum();
	total();
	chk();
});

function sum(){
	$('#goods tr').each(function(){
		var price = parseFloat($(this).find("td:eq(3)").text());
		var num	= parseInt($(this).find("input[name='num']").val());
		$(this).find("td:eq(5)").text(parseFloat(price * num).toFixed(2));
	})
}
function total(){
	var flag=true;
	var s=0;
	var piece=0;
	$('#goods tr').each(function(){
		if($(this).find("input[type='checkbox']").attr('checked')){
			var prices = parseFloat($(this).find("td:eq(5)").text());
			var num	= parseInt($(this).find("input[name='num']").val());
			piece+=num;
			s+=prices;
		}else{
			flag=false;
			$("#goodsAll").attr("checked",false);
			$("#goodsAll2").attr("checked",false);
		}	
	});
	if(flag==true){
		$("#goodsAll").attr("checked",true);
		$("#goodsAll2").attr("checked",true);
	}
	$("#amount").val(s);
	$("#piece").val(piece);
	$("#amount2").val(s);
	$("#piece2").val(piece);
}
function chk(){
	total();
}
function change(btn,o){
    var num = 0;
    num = $('#'+o).val();
    //alert(num);
    var flag=0;
    for(var i=0;i<num.length;i++)
		if((num.charCodeAt(i)>57 || num.charCodeAt(i)<48) && num.charAt(i)!=32)
		{
			flag=1;
			break;
		}
	if(flag==1)
	{
		alert("数量只能是数字！");
		return false;
	}
	else{
		var tds=$(btn).parent().siblings();
		var price = tds.eq(3).text();	
		tds.eq(4).text(price * num);	
		total();	
        $.get("{:url('cart/updateCart')}",{"cartID":o,"num":num});
	}
} 

function del(btn,cid){
	$(btn).parent().parent().remove();
	total();
	$.get("{:url('cart/deleteCart')}",{"cartID":cid});
}



</script> 
	</head>
	
	<body>
		{include file="common/header.html"/}
  		<!--
          	作者：Bluesky
          	时间：2018-10-09
          	描述：页面中部示例
          -->
		<div class="mainDiv">
        <form action="{:url('orderconfirm/orderconfirm')}" name="form1" method="post">
		<div class="cartDiv">
			<div class="wordDiv">
				<div class="leftWordDiv">购物车</div>
				<div class="rightWordDiv">
					<div class="statisticsDiv">已选</div>
					<div class="pieceDiv"><input type="text" id="piece" name="piece" value="0" disabled="disabled"/></div>
					<div class="statisticsDiv">件商品&nbsp;&nbsp;&nbsp;&nbsp;合计(不含运费):</div>
					<div class="amountDiv"><input type="text" id="amount" name="amount" value="0" disabled="disabled"/></div>
					<div class="statisticsDiv">元</div>
				</div>
			</div>
			
			<table style="width:100%;background-color:rgba(255,255,255,1);border-width:1px; border-style:groove;font-size: 16px;">
			<tr style="text-align:center;font-weight:bold; border-width:1px; border-style:groove;height:50px">
				<td><input type="checkbox" id="goodsAll" />全选</td>
				<td>商品编号</td>
				<td>商品</td>
				<td>单价(元)</td>
				<td>数量</td>
				<td>金额</td>
				<td>操作</td>
			</tr>
			<tbody id="goods" style="background-color: lightyellow;text-align:center;">
			{foreach $result as $cart}
				<tr >
				<td ><input type='checkbox' id='cartID[]' name='cartID[]' value='{$cart.cartID}' unchecked onclick="chk()"></td>
				<td >{$cart.bookID}</td>
				<td ><div style='height:50px; float:left;'>
						<img src='__STATIC__/img/goods/{$cart.bookID}/detail1.jpg' width=48 height=51 border=0></div>
					<div >{$cart.bookname}</div>
					<div >{$cart.author}</div>
				</td>
				<td >{$cart.price}</td>
				<td><input type='text' id="{$cart.cartID}" size='1' value='{$cart.bookNum}' name='num'>
					<input type='button' onclick='change(this,{$cart.cartID})' value='更新' />
				</td>
				<td></td>
				<td>
					<input type="image" onclick="del(this,{$cart.cartID});" width=41 height=20 src='__STATIC__/img/04shop_deleteID.gif'>
				</td>
				</tr>
			{/foreach}
			</tbody>
			</table>
			
			
			<div class="commitDiv">
				<div class="choseAllDiv"><input type="checkbox" id="goodsAll2" "/>全选</div>
				<div class="middleDiv">
					<div class="statisticsDiv">已选</div>
					<div class="piece2Div"><input type="text" id="piece2" name="piece2" value="0" disabled="disabled" style="background-color: rgba(0,0,0,0.1);"/></div>
					<div class="statisticsDiv">件商品&nbsp;合计(不含运费):</div>
					<div class="amount2Div"><input type="text" id="amount2" name="amount2" value="0" disabled="disabled"/></div>
					<div class="statisticsDiv">元</div>
				</div>
				<div class="commitButtonDiv"><input type="submit" name="commit" id="commit" value="提交订单" onclick='javascript:form1.submit()'/></div>
				<div class="commitButtonDiv"><a href="{:url('cart/clearCart')}"><input type="button" name="clear" id="clear" value="清空购物车" /></a> </div>
				<div class="commitButtonDiv" ><a href="{:url('index/index')}"><input type="button" name="continue" id="continue" value="继续选购" /></a> </div>				
			</div>
		
       </div>
       </form>
        </div>
{include file="common/foot.html"/}			
	</body>
</html>
