<!DOCTYPE html>
<html>
	<head>
		<style>
		
    .pictureDiv.img:hover
    {
        transform: scale(2);  
    }
</style>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__STATIC__/css/book.css" />		
		<link rel="stylesheet" href="__STATIC__/css/header.css">
		<link rel="stylesheet" href="__STATIC__/css/foot.css" />
		<link rel="stylesheet" href="__STATIC__/css/cart.css" />
		<script type="text/javascript" src="__STATIC__/js/header.js"></script>
		<script type="text/javascript" src="__STATIC__/js/cart.js"></script>
	</head>
	
	<body>
		<!--
        	作者：杨富宙
        	时间：2018-10-09
        	描述：页面顶部
        -->
		{include file="common/header.html"/}
  		<!--
          	作者：Bluesky
          	时间：2018-10-09
          	描述：页面中部示例
          -->
        <div class="mainDiv">
        
		<div class="cartDiv">
			<div class="wordDiv">
				<div class="leftWordDiv">购物车</div>
				<div class="rightWordDiv">
					<div class="statisticsDiv">已选</div>
					<div class="pieceDiv"><input type="text" id="piece" name="piece" value="0" disabled="disabled"/></div>
					<div class="statisticsDiv">件商品&nbsp;&nbsp;&nbsp;&nbsp;合计(不含运费):</div>
					<div class="amountDiv"><input type="text" id="amount" name="amount" value="0" disabled="disabled"/></div>
					<div class="statisticsDiv">元</div>
				</div>
			</div>
			<div>
				<ul class="headDiv">
					<li>
						<input type="checkbox" id="goodsAll1" name="goods" onclick="allClick(this);"/>全选
					</li>
					<li>商品</li>
					<li>单价(元)</li>
					<li>数量</li>
					<li>金额</li>
					<li>操作</li>
				</ul>
			</div>
			<div class="listDiv">
				<div  id="addItem" class="itemDiv color">
					<div class="choseDiv"><input type="checkbox" name="goods" id="goods" class="checkInput" onclick="checkOnclick(this);"/> </div>
					<div class="goodsDiv">
						<div class="pictureDiv"><img src="__STATIC__/img/goods/9787115130228/detail1.jpg" /></div> 
						<div class="publishDiv">
							<div class="bookNameDiv">C Primer Plus</div>
							<div class="authorDiv">作者:[美]普拉塔 著；云巅工作室 编</div>
						</div>						
					</div>
					<div class="onePriceDiv">
						<div class="CNYDiv">￥</div>
						<div class="priceDiv"><span>20</span></div>
					</div>
					
					<div class="numberDiv">
							<span onclick="oneClick(this);" ><b class="symbolDiv"><img src="__STATIC__/img/cart_sub.png"/></b></span><input type="text" class="numberValue" value="5" disabled="disabled"/><span onclick="addClick(this);"><img src="__STATIC__/img/cart_add.png"/></span>
					</div>
					<div class="sumCNYDiv">￥</div>
					<div class="sumDiv"><span>100</span></div>
					<div class="deleteDiv" onclick="deleteItem(this);"><a href="#">删除</a></div>
				</div>
				<div  id="addItem" class="itemDiv">
					<div class="choseDiv"><input type="checkbox" name="goods" id="goods" class="checkInput" onclick="checkOnclick(this);"/></div>
					<div class="goodsDiv">
						<div class="pictureDiv"><img src="__STATIC__/img/goods/9787111526285/detail1.jpg" /></div> 
						<div class="publishDiv">
							<div class="bookNameDiv">Go程序设计语言</div>
							<div class="authorDiv">作者:[美]艾伦A.A 多诺万 等 著</div>
						</div>						
					</div>
					<div class="onePriceDiv">
						<div class="CNYDiv">￥</div>
						<div class="priceDiv"><span>30</span></div>
					</div>
					<div class="numberDiv">
							<span onclick="oneClick(this);" ><b class="symbolDiv"><img src="__STATIC__/img/cart_sub.png"/></b></span><input type="text" class="numberValue" value="5" disabled="disabled"/><span onclick="addClick(this);"><img src="__STATIC__/img/cart_add.png"/></span>
					</div>
					<div class="sumCNYDiv">￥</div>
					<div class="sumDiv"><span>150</span></div>
					<div class="deleteDiv" onclick="deleteItem(this);"><a href="#">删除</a></div>
				</div>
				<div  id="addItem" class="itemDiv color">
					<div class="choseDiv"><input type="checkbox" name="goods" id="goods" class="checkInput" onclick="checkOnclick(this);"/></div>
					<div class="goodsDiv">
						<div class="pictureDiv"><img src="__STATIC__/img/goods/9787111213826/detail1.jpg" /></div> 
						<div class="publishDiv">
							<div class="bookNameDiv">Java思想</div>
							<div class="authorDiv">作者:[美]埃克尔 译者:陈昊鹏 著</div>
						</div>						
					</div>
					<div class="onePriceDiv">
						<div class="CNYDiv">￥</div>
						<div class="priceDiv"><span>10</span></div>
					</div>
					<div class="numberDiv">
						<span onclick="oneClick(this);" ><b class="symbolDiv"><img src="__STATIC__/img/cart_sub.png"/></b></span><input type="text" class="numberValue" value="3" disabled="disabled"/><span onclick="addClick(this);"><img src="__STATIC__/img/cart_add.png"/></span>
					</div>
					<div class="sumCNYDiv">￥</div>
					<div class="sumDiv"><span>30</span></div>
					<div class="deleteDiv" onclick="deleteItem(this);"><a href="#">删除</a></div>
				</div>
				<div  id="addItem" class="itemDiv">
					<div class="choseDiv"><input type="checkbox" name="goods" id="goods" class="checkInput" onclick="checkOnclick(this);"/></div>
					<div class="goodsDiv">
						<div class="pictureDiv"><img src="__STATIC__/img/goods/9787111532644/detail1.jpg" /></div> 
						<div class="publishDiv">
							<div class="bookNameDiv">架构即未来</div>
							<div class="authorDiv">作者:[美]马丁L.阿伯特 迈克尔T.费舍尔 著；陈斌 译</div>
						</div>						
					</div>
					<div class="onePriceDiv">
						<div class="CNYDiv">￥</div>
						<div class="priceDiv"><span>30</span></div>
					</div>
					<div class="numberDiv">
						<span onclick="oneClick(this);" ><b class="symbolDiv"><img src="__STATIC__/img/cart_sub.png"/></b></span><input type="text" class="numberValue" value="4" disabled="disabled"/><span onclick="addClick(this);"><img src="__STATIC__/img/cart_add.png"/></span>
					</div>
					<div class="sumCNYDiv">￥</div>
					<div class="sumDiv"><span>120</span></div>
					<div class="deleteDiv" onclick="deleteItem(this);"><a href="#">删除</a></div>
				</div>
				<div  id="addItem" class="itemDiv color">
					<div class="choseDiv"><input type="checkbox" name="goods" id="goods" class="checkInput" onclick="checkOnclick(this);"/></div>
					<div class="goodsDiv">
						<div class="pictureDiv"><img src="__STATIC__/img/goods/9787115435101/detail1.jpg" disabled="disabled"/></div> 
						<div class="publishDiv">
							<div class="bookNameDiv">Python数据科学指南</div>
							<div class="authorDiv">作者:印度，Gopi，Subramanian，萨伯拉曼尼安 著；方延风 刘丹 译</div>
						</div>						
					</div>
					<div class="onePriceDiv">
						<div class="CNYDiv">￥</div>
						<div class="priceDiv"><span>40</span></div>
					</div>
					<div class="numberDiv">
						<span onclick="oneClick(this);" ><b class="symbolDiv"><img src="__STATIC__/img/cart_sub.png"/></b></span><input type="text" class="numberValue" value="2" disabled="disabled"/><span onclick="addClick(this);"><img src="__STATIC__/img/cart_add.png"/></span>
					</div>
					<div class="sumCNYDiv">￥</div>
					<div class="sumDiv"><span>80</span></div>
					
					<div class="deleteDiv" onclick="deleteItem(this);"><a href="#">删除</a></div>
				</div>
			</div>
			<div class="commitDiv">
				<div class="choseAllDiv"><input type="checkbox" id="goodsAll2" name="goods" onclick="allClick(this);"/>全选</div>
				<div class="middleDiv">
					<div class="statisticsDiv">已选</div>
					<div class="pieceDiv"><input type="text" id="piece2" name="piece2" value="0" disabled="disabled"/></div>
					<div class="statisticsDiv">件商品&nbsp;合计(不含运费):</div>
					<div class="amountDiv"><input type="text" id="amount2" name="amount2" value="0" disabled="disabled"/></div>
					<div class="statisticsDiv">元</div></div>
				<div class="commitButtonDiv"><a href="order-confirm.html"><input type="submit" name="commit" id="commit" value="提交订单"/></a> </div>
			</div>
		
       </div>
        </div>
 		<!--
        	作者：lajiaopingzi@163.com
        	时间：2018-10-09
        	描述：网页的尾部      大标签： FootTop
        -->
		{include file="common/foot.html"/}	
			
	</body>
</html>
