<!DOCTYPE html>
<html>
	<head>
		<style>
		
    .pictureDiv.img:hover
    {
        transform: scale(2);  
    }
</style>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__STATIC__/css/book.css" />		
		<link rel="stylesheet" href="__STATIC__/css/header.css">
		<link rel="stylesheet" href="__STATIC__/css/foot.css" />
		<link rel="stylesheet" href="__STATIC__/css/cart.css" />
		<script type="text/javascript" src="__STATIC__/js/header.js"></script>
		<script type="text/javascript" src="__STATIC_/js/jquery-1.4.2.js"></script>
		<script type="text/javascript">
$(function(){
	sum();
	total();
	chk();
});

function sum(){
	$('#goods tr').each(function(){
		var price = parseFloat($(this).find("td:eq(4)").text());
		var num	= parseInt($(this).find("input[name='num']").val());
		$(this).find("td:eq(6)").text(price * num);
	})
}
function total(){
	var s=0;
	$('#goods tr').each(function(){
		if($(this).find("input[type='checkbox']").attr('checked')){
			var prices = parseFloat($(this).find("td:eq(6)").text());
			s+=prices;
		}		
	})
	$("#total").text(s);
}
function change(btn,o){
    var num = 0;
    num = $('#'+o).val();
    var flag=0;
    for(var i=0;i<num.length;i++)
		if((num.charCodeAt(i)>57 || num.charCodeAt(i)<48) && num.charAt(i)!=32)
		{
			flag=1;
			break;
		}
	if(flag==1)
	{
		alert("数量只能是数字！");
		return false;
	}
	else{
		var tds=$(btn).parent().siblings();
		var yourprice = tds.eq(4).text();	
		tds.eq(5).text(price * num);	
		total();	
        $.get("{:url('cart/updateCart')}",{"cartID":o,"num":num});
	}
} 

function del(btn,cid){
	$(btn).parent().parent().remove();
	total();
	$.get("{:url('cart/deleteCart')}",{"cartID":cid});
}

function chk(){
	total();
}

</script> 
	</head>
	
	<body>
		{include file="common/header.html"/}
  		<!--
          	作者：Bluesky
          	时间：2018-10-09
          	描述：页面中部示例
          -->
		<div class="mainDiv">
        
		<div class="cartDiv">
			<div class="wordDiv">
				<div class="leftWordDiv">购物车</div>
				<div class="rightWordDiv">
					<div class="statisticsDiv">已选</div>
					<div class="pieceDiv"><input type="text" id="piece" name="piece" value="0" disabled="disabled"/></div>
					<div class="statisticsDiv">件商品&nbsp;&nbsp;&nbsp;&nbsp;合计(不含运费):</div>
					<div class="amountDiv"><input type="text" id="amount" name="amount" value="0" disabled="disabled"/></div>
					<div class="statisticsDiv">元</div>
				</div>
			</div>
			<form action="{:url('order/order')}" name="form1" method="post">
			<table>
			<tr class="headDiv">
				<td>
					<input type="checkbox" id="goodsAll1" name="goods" onclick="allClick(this);"/>全选
				</td>
				<td>商品编号</td>
				<td>商品</td>
				<td>单价(元)</td>
				<td>数量</td>
				<td>金额</td>
				<td>操作</td>
			</tr>
			<tbody class="listDiv">
			{assign name="sum" value="0" /}
			{foreach $result as $cart}
			{assign name="sum" value="$sum + $cart.price * $cart.bookNum " /}
				<tr id="addItem" class="itemDiv color">
				<td class="choseDiv"><input type='checkbox' name='cartID[]' value='{$cart.cartID}' checked onclick="chk()"></td>
				<td class="publishDiv">{$cart.bookID}</td>
				<td class="goodsDiv"><div style='height:50px; float:left;'>
						<img src='__STATIC_/img/{$cart.detail1P}' width=48 height=51 border=0></div>
					<div style='height:50px; float:left;'>{$cart.bookname}</div>
				</td>
				<td class="priceDiv">{$cart.price}</td>
				<td><input type='text' id='{$cart.cartID}' size='1' value='{$cart.bookNum}' name='num'>
					<input type='button' onclick='change(this,{$cart.cartID})' value='更新' /></td>
				<td></td>
				<td>
					<input type="image" onclick="del(this,{$cart.cartID});" width="41" height="20" src="__STATIC_/img/04shop_deleteID.gif">
				</td>
				</tr>
			{/foreach}
			</tbody>
			</table>
			</form>
			
			<div class="commitDiv">
				<div class="choseAllDiv"><input type="checkbox" id="goodsAll2" name="goods" onclick="allClick(this);"/>全选</div>
				<div class="middleDiv">
					<div class="statisticsDiv">已选</div>
					<div class="pieceDiv"><input type="text" id="piece2" name="piece2" value="0" disabled="disabled"/></div>
					<div class="statisticsDiv">件商品&nbsp;合计(不含运费):</div>
					<div class="amountDiv"><input type="text" id="amount2" name="amount2" value="0" disabled="disabled"/></div>
					<div class="statisticsDiv">元</div></div>
				<div class="commitButtonDiv"><a href="order-confirm.html"><input type="submit" name="commit" id="commit" value="提交订单"/></a> </div>
			</div>
		
       </div>
        </div>
{include file="common/foot.html"/}			
	</body>
</html>
