
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__STATIC__/css/book.css" />
		<link rel="stylesheet" href="__STATIC__/css/header.css">
		<link rel="stylesheet" href="__STATIC__/css/foot.css" />
		<link rel="stylesheet" href="__STATIC__/css/order.css" />
		<script type="text/javascript" src="__STATIC__/js/header.js"></script>		
	</head>
	
	<!--需要删去，仅为示例所用-->
	<style>
		.mainDiv{
			width: 1000px;
			height: 700px;
			margin: 0px auto;
			
		}
	</style>
	
	<body>
		<!--
        	作者：杨富宙
        	时间：2018-10-09
        	描述：页面顶部
        -->
		{include file="common/header.html"/}
  		<!--
          	作者：杨富宙
          	时间：2018-10-09	
          	描述：页面中部示例
         --> 		
        <div class="mainDiv">
        	<div class="mainTop">
        		
				<!--
                	中间部分
                -->
    			<div class="midmainDiv">
                	<div class="TitlePic">
                			<ul class="headitems">
                				<li class="items1">商品</li>
                				<li class="items2">单价（元）</li>
                				<li class="items3">数量</li>
                				<li class="items4">售后</li>
                				<li class="items5">实付款（元）</li>
                				<li class="items6">交易状态</li>
                				<li class="items7">操作</li>
                				<li class="items8">评价</li>
                			</ul>
                	</div>
                	
                	{foreach $books as $book}
                	<div class="MassageDiv">
                		
                		<div class="MassageTopDiv">
                			<h1>
                				订单编号：{$book['orderID']}&nbsp;&nbsp;&nbsp;成交时间：{$book['createtime']}&nbsp;&nbsp;&nbsp;联系客户
                			<img src="__STATIC__/img/myOrder/kefuf.gif" />
                			</h1>
                			
                		</div>
                	<div class="ShowOrderDiv">
                	{foreach $book['books'] as $user}
                		<div class="MassageMiddleDiv">
                			<div class="MassagegoodDiv">
                				<div class="goodPic">
                					<img src="__STATIC__/img/goods/{$user['bookID']}/detail1.jpg" />	
                				</div>
                				<div class="MassagegoodnameDiv">
                				<h1 >{$user['bookname']}</h1><br/>
                				<h1>{$user['press']}</h1>
                			</div>
                			</div>
                			<div class="Pirce">
                				<h1 >专属价</h1>
                				<h1>￥{$user['price']}</h1>
                			</div>
                			<div class="Number">
                				<h1 >{$user['bookNum']}件</h1>            
                			</div>
                			<div class="SaleAfter">
                				<h1 >退款/退货</h1>
                				<h1>我要维权</h1>          
                			</div>
                			<div class="RPirce">        
                				<h1>￥{$user['price']}</h1>
                			</div>
                		</div>
                	{/foreach}
                		<div class="OrderStateDiv">
                			<div class="Zhuangtai">
                				<div class="Fahuo">
                					<h1 ><img src="__STATIC__/img/myOrder/car.png" />{$book['orderstate']}</h1>
                					<br/>
                					<h1>订单详情</h1>
                				</div>
                			</div>
                			<div class="Caozuo">
								{php} switch($book['orderstate']){
								case '待处理':
								echo '<button >待处理</button>';
								break;
								case '处理中':
								echo '<button >处理中</button>';
								break;
								case '已发货':
								echo '<button onclick="remove(this);"><a href="'. url('order/orderUpdate') . '?orderID=' . $book['orderID'] . '&bookID=' . $book['bookID'] . '">确认收货</a></button>';
								break;
								case '已收货':
								echo '<button >已收货</button>';
								break;
								case '已评价':
								echo '<button >已评价</button>';
								break;
								default:
								echo '<button >待处理</button>';
								break;
								}
								{/php}

                			</div>
                			<div class="comment">
                				{php} switch($book['orderstate']){
								case '待处理':
								echo '<button >收货后评价</button>';
								break;
								case '处理中':
								echo '<button>收货后评价</button>';
								break;
								case '已发货':
								echo '<button >收货后评价</button>';
								break;
								case '已收货':
								echo '<button ><a href="'. url('order/evaluate') . '?orderID=' . $book['orderID'] . '&bookID=' . $book['bookID'] . '">我要评价</a></button>';
								break;
								case '已评价':
								echo '<button >已评价</button>';
								break;
								default:
								echo '<button >收货后评价</button>';
								break;
								}
								{/php}
                			</div>
                		</div>
                	
                	</div>
                	
                	</div>
                	{/foreach}
                </div>
        	
        
        
        	</div>	
        
        </div>
        <!--
        	作者：lajiaopingzi@163.com
        	时间：2018-10-09
        	描述：页面尾部
        -->
       
        
         {include file="common/foot.html"/}	
	</body>
	<script src="__STATIC__/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="__STATIC__/js/order.js" ></script>
	<script type="text/javascript">
</script>
</html>
