<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__STATIC__/css/book.css" />		
		<link rel="stylesheet" href="__STATIC__/css/header.css">
		<link rel="stylesheet" href="__STATIC__/css/foot.css" />
		<script type="text/javascript" src="__STATIC__/js/header.js"></script>
	
		<link rel="stylesheet" href="__STATIC__/css/orderConfirm.css" />
		<script type="text/javascript" src="__STATIC__/js/orderConfirm.js" ></script>
		<script type="text/javascript" src="__STATIC__/js/jquery-1.8.3.min.js"></script>		
	<script>
	var receID=$("#receID").text();
	var receName=$("#receName").text();
	var receAdd=$("#receAdd").text();
	//var bookID=$(".bookID").text();
	//var author=$("#author").text();
	//var price=$("#price").text();
	//var bookNum=$("#bookNum").text();
	var list=document.getElementsByClassName("bookID");
	//var list2=document.getElementsByClassName("bookNum");
	 var array=new Array();
	

	// 选择收货人
	function Select(obj){
		
		list=document.getElementsByClassName("bookID");
		for(var i=0;i<list.length;i++){
			array[i]=(list[i].innerHTML);
		}
		//alert(array[1]);
		
		//list2=document.getElementsByClassName("bookNum");

		receName=$(obj).parent().find("#receName").text();
		receAdd=$(obj).parent().find("#receAdd").text();
	    receID=$(obj).parent().find("#receID").text();

	    
		//author=$("#author").text();
		//price=$("#price").text();
		//bookNum=$("#bookNum").text();
	    
		//author=$("#author").text();
		//price=$("#price").text();
		
	

	}
	
	function tijiao(){
		//
		$.post("{:url('order/addOrder')}",{
			
				receID:receID,
				list:array,
				//author:author,
				//price:price,
				//list2:list2,
				receName:receName,
				receAdd:receAdd
			},function(data){
				
				if(data=="success"){
					window.location.href="{:url('order/paysuccess')}";	
				}				
			});
		
	}
		
	
	</script>
	</head>
	
	<!--需要删去，仅为示例所用-->
	
	
	<body>
		<!--
        	作者：杨富宙
        	时间：2018-10-09
        	描述：页面顶部
        -->
		{include file="common/header.html"/}
  		<!--
          	作者：XXX
          	时间：2018-10-09
          	描述：页面中部示例
          -->
		
		<div class="mainDiv">
			<div class="orderConfirmMainDiv">
			<div class="navlist">
    				<ul>
        				<li class="navlist_blue_left"></li>
        				<li class="navlist_blue" onclick="onOCClickconfirm();">确认订单信息</li>
        				<li class="navlist_blue_arrow"><canvas id="canvas_blue" width="20" height="38"></canvas>
        				</li>
        				<li class="navlist_gray" onclick="onOCClickpay();">支付订单<b></b></li>
        				<li class="navlist_gray_arrow"><canvas id="canvas_gray" width="20" height="38"></canvas>
        				</li>
        				<li class="navlist_gray" onclick="onOCClickpaysuccess();">支付完成<b></b></li>
        				<li class="navlist_gray_right"></li>
    				</ul>
			</div>
			<div class="orderConfirmChooseAdDiv">
				<div class="OCCTopDiv">
					<p>选择收货地址</p>
				</div>
				<div class="OCCborderDiv" ></div>
				{foreach $Receivers as $Receiver}
				<div class="OCCCenterDiv" >
				
					<div class="OCCCenterradioDiv" onclick="Select(this)">
						<input name="address" type="radio" />
					</div>
					<span class="receID" id="receID" style="display:none;">{$Receiver.receID}</span>
					<p id="receName">{$Receiver.receName}</p>
					<div class="OCCCenteraddressDiv">
						<span id="receAdd">{$Receiver.receAdd}</span>
					</div>
				</div>
				{/foreach}
				
				<div class="OCCBottom">
					更多地址>>
				</div>
			</div>
			
			<div class="confirmProductDiv">
				<div class="OCCTopDiv">
					<p>确认商品信息</p>
				</div>
				<div class="CFPtableDiv">
				
					<table width="1000px" >
						<tr bgcolor=gainsboro class="" height="40px">
							<td align="center">   </td>
							<td align="center">商品编号</td>
							<td align="center">商品信息</td>
							<td align="center">单价（元）</td>
							<td align="center">数量</td>
							<td align="center">金额</td>
						</tr>
						
						{assign name="total" value="0" /}	
						{assign name="sum" value="0" /}	
						{foreach $vcarts as $vcart}
						{assign name="total" value="$total + $vcart.price * $vcart.bookNum " /}
				
						{assign name="sum" value="$sum + $vcart.bookNum " /}
						<tr height="100px">
							<td  align="center"><img align="center" width="60px" src="__ROOT__/static/{$vcart.detail1P}"> </td>
							<td class="bookID">{$vcart.bookID}</td>
							<td id="author">{$vcart.author}</td>
							<td id="price">{$vcart.price}</td>
							<td id="bookNum">{$vcart.bookNum}</td>
							<td id="t">{$vcart.price*$vcart.bookNum}</td>
						</tr>
						{/foreach}
						
					</table>
				
				</div>
				<div class="OCCBottomDiv">
					<div class="OCCBottomleftDiv"><span onclick="onOCClickcart();" ><<返回购物车</span></div>
					<div class="OCCBottomrightDiv buttoDiv">
					
						<input id="submit" class="submit" type="button" value=" 确认并付款" onclick="tijiao();"/>
					</div>
					<div class="OCCBottomrightDiv">
						已选<span>{$sum}</span>件商品 合计（不含运费）:￥<span id="total_price">{$total}</span>元
					</div>
					
					
				</div>
			</div>
		</div>
		</div>
        
    
        
        <!--
        	作者：lajiaopingzi@163.com
        	时间：2018-10-09
        	描述：页面尾部
        -->
        {include file="common/foot.html"/}	
	</body>
</html>
