<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__STATIC__/css/book.css" />		
		<link rel="stylesheet" href="__STATIC__/css/header.css">
		<link rel="stylesheet" href="__STATIC__/css/foot.css" />
		<link rel="stylesheet" href="__STATIC__/css/pay-success.css" />
		<link rel="stylesheet" href="__STATIC__/css/scnu.css" />
		<script type="text/javascript" src="__STATIC__/js/header.js"></script>
	
		<script type="text/javascript" src="__STATIC__/js/pay-success.js" ></script>
	</head>
	
	<!--需要删去，仅为示例所用-->
	<style>
		.mainDiv{
			width: 1000px;
			height: 500px;
			margin: 0px auto;
			
		}
	</style>
	
	<body>
		<!--
        	作者：杨富宙
        	时间：2018-10-09
        	描述：页面顶部
        -->
		{include file="common/header.html"/}
  		
  		<!--
          	作者：XXX
          	时间：2018-10-09
          	描述：页面中部示例
          -->
        <div class="mainDiv">
        	<div class="PayHead">
        		<div class="navlist">
    				<ul>
        				<li class="navlist_blue_left"></li>
        				<li class="navlist_gray">确认订单信息</li>
        				<li class="navlist_gray_arrow"><canvas id="canvas_blue" width="20" height="38"></canvas>
        				</li>
        				<li class="navlist_gray">支付订单<b></b></li>
        				<li class="navlist_gray_arrow"><canvas id="canvas_gray" width="20" height="38"></canvas>
        				</li>
        				<li class="navlist_blue">支付完成<b></b></li>
        				<li class="navlist_gray_right"></li>
    				</ul>
				</div>
				<div class="PayResult">
					<div class="Payleft">
						<h1>支付结果</h1>
					</div>
					<div class="Payright">
				
						<h1>支付订单： {$orderId} &nbsp;支付金额：<b>{$total}元</b></h1>
						
					</div>
				</div>
				<div class="PayMiddle">
					<div class="PayPic">
						`<img src="__STATIC__/img/pay/pay_succ.png">
					</div>
					<div class="PayTip">
						<h1>支付成功</h1>
					</div>
					<div class="PayTip1">
						<h1><a href="order.html">查看订单状态?查看订单>></a></h1>
					</div>
					<div class="PayTip2">
						<h1>达内学子商城不会以系统异常、订单升级为由，要求你点击任何链接进行退款操作！</h1>
					</div>
				</div>
        	</div>
        </div>
        
        <!--
        	作者：lajiaopingzi@163.com
        	时间：2018-10-09
        	描述：网页的尾部      大标签： FootTop
        -->
		 {include file="common/foot.html"/}	
	</body>
</html>
