<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__STATIC__/css/book.css" />		
		<link rel="stylesheet" href="__STATIC__/css/header.css">
		<link rel="stylesheet" href="__STATIC__/css/foot.css" />
		<link rel="stylesheet" href="__STATIC__/css/collect.css" />
		<script type="text/javascript" src="__STATIC__/js/header.js"></script>
		<script type="text/javascript" src="__STATIC__/js/index.js" ></script>
	</head>
	
	<body>
		<!--
        	作者：杨富宙
        	时间：2018-10-09
        	描述：页面顶部
        -->
		{include file="common/header.html"/}
  		<!--
          	作者：Bluesky
          	时间：2018-10-09
          	描述：页面中部示例
          -->
        <div class="mainDiv">
        	<div class="collectTopDiv">收藏商品</div>
			<div class="collectListDiv">
				<div class="collectItemDiv">
					<div ><img src="__STATIC__/img/goods/9787115353528/collect.jpg" /></div>
					<div class="collectItemWordDiv">
						<div class="collectItemNameDiv">Python数据科学指南</div>
						<div class="collectItemBottomDiv">
							<div class="collectItemPriceDiv">￥66.2</div>
							<div class="collectItemCheckDiv" ><a href="detail.html">查看</a></div>
						</div>
					</div>
				</div>
				<div class="collectItemDiv">
					<div ><img src="__STATIC__/img/goods/9787111213826/collect.jpg" /></div>
					<div class="collectItemWordDiv">
						<div class="collectItemNameDiv">Java编程思想</div>
						<div class="collectItemBottomDiv">
							<div class="collectItemPriceDiv">￥66.2</div>
							<div class="collectItemCheckDiv"><a href="detail.html">查看</a></div>
						</div>
					</div>
				</div>
			
				<div class="collectItemDiv">
					<div ><img src="__STATIC__/img/goods/9787115388025/collect.jpg" /></div>
					<div class="collectItemWordDiv">
						<div class="collectItemNameDiv">图解机器学习</div>
						<div class="collectItemBottomDiv">
							<div class="collectItemPriceDiv">￥66.2</div>
							<div class="collectItemCheckDiv"><a href="detail.html">查看</a></div>
						</div>
					</div>
				</div>
				<div class="collectItemDiv">
					<div ><img src="__STATIC__/img/goods/9787115130228/collect.jpg" /></div>
					<div class="collectItemWordDiv">
						<div class="collectItemNameDiv">C Primer Plus</div>
						<div class="collectItemBottomDiv">
							<div class="collectItemPriceDiv">￥66.2</div>
							<div class="collectItemCheckDiv"><a href="detail.html">查看</a></div>
						</div>
					</div>
				</div>
				<div class="collectItemDiv">
					<div ><img src="__STATIC__/img/goods/9787115386397/collect.jpg" /></div>
					<div class="collectItemWordDiv">
						<div class="collectItemNameDiv">Spring MVC 学习指南</div>
						<div class="collectItemBottomDiv">
							<div class="collectItemPriceDiv">￥66.2</div>
							<div class="collectItemCheckDiv"><a href="detail.html">查看</a></div>
						</div>
					</div>
				</div>
        </div>
        
        <!--
        	作者：lajiaopingzi@163.com
        	时间：2018-10-09
        	描述：页面尾部
        -->
        {include file="common/foot.html"/}		
	</body>
</html>
