<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__STATIC__/css/book.css" />		
		<link rel="stylesheet" href="__STATIC__/css/header.css">
		<link rel="stylesheet" href="__STATIC__/css/foot.css" />
		<link rel="stylesheet" href="__STATIC__/css/collect.css" />
		<script type="text/javascript" src="__STATIC__/js/header.js"></script>
		<script type="text/javascript" src="__STATIC__/js/index.js" ></script>
	</head>
	
	<body>
		<!--
        	作者：杨富宙
        	时间：2018-10-09
        	描述：页面顶部
        -->
		{include file="common/header.html"/}
  		<!--
          	作者：Bluesky
          	时间：2018-10-09
          	描述：页面中部示例
          -->
        <div class="mainDiv">
        	<div class="collectTopDiv">收藏商品</div>
			<div class="collectListDiv">
			 {if condition="empty($goods)"}
                    <div >
                        <div class=class="collectItemNameDiv">
                            还没有收藏商品哟~
                        </div>
                    </div>
                    {/if}
			{foreach $goods as $good}
				<div class="collectItemDiv">
					<div text-align="center"><img width=200px src="__STATIC__/img/goods/{$good.bookID}/index.jpg" /></div>
					<div class="collectItemWordDiv">
						<div class="collectItemNameDiv">{$good.bookname}</div>
						<div class="collectItemBottomDiv">
							<div class="collectItemPriceDiv">价格：￥{$good.price}</div>
							<div class="collectItemCheckDiv" ><a href="{:url('Detail/detail')}?bookID={$good.bookID}">查看</a></div>
						</div>
					</div>
				</div>
			{/foreach}
			
        </div>
        
        <!--
        	作者：lajiaopingzi@163.com
        	时间：2018-10-09
        	描述：页面尾部
        -->
        {include file="common/foot.html"/}		
	</body>
</html>
