<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__STATIC__/css/bootstrap.css" />
		<link rel="stylesheet" href="__STATIC__/css/productcomment.css" />

	<script type="text/javascript" src="__STATIC__/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript">
		function deleteComment($commentID) {
			if(window.confirm('你确定要删除此评论吗？')){
				//确定
				var data = {};
				data['commentID'] = $commentID;

				$.ajax({
					type:'POST',
					url:'deletecomment',
					data: data,
					success:function (data) {
						var bool = data;
						if(bool){
							alert("删除评论成功！~");
							window.location.reload();
						}else{
							alert("删除失败，请重试~");
						}
					},
					error:function (data) {
						console.log(data);
						alert("删除失败，请重试~");
					}
				});
				return true;
			}else{
				//取消
				return false;
			}
		}
	</script>
	</head>
	<body>
	<div class="main">
		{foreach $comments as $comment}
		<div class="card card-in">
			<div class="card-body">
				<h4 class="card-title">{$comment['bookname']}</h4>
				{foreach $comment['comments'] as $user}
				<div class="card card-in">
					<div class="card-in">
						<a href="#" class="card-link">{$user['name']}</a>
						<p class="card-text card-in">{$user['comment']}</p>
						<a href="#" class="card-link float-right" onclick="deleteComment('{$user[\'commentID\']}')">删除</a>
						<a href="#" class="card-link float-right">{$user['time']}&nbsp;&nbsp;&nbsp;</a>


					</div>

				</div>
				{/foreach}
			</div>
		</div>
		{/foreach}
	</div>


	</body>
</html>
