<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/scnu.css" />
		<link rel="stylesheet" href="css/product-list.css" />
	</head>

	<body>
		<div class="bodyDiv">
			<div class="orderBarDiv">
				<div class="orderBar">
					<img src="img/header/set.png" />
					<span>商品管理</span>
					<span>> 所有商品</span>
				</div>
			</div>
			<div class="orderDiv">
				<div class="orderTable">
					<table class="table table-striped table-hover table-bordered" id="table">
						<tr>
							<th>商品编号</th>
							<th>商品名称</th>
							<th>添加时间</th>
							<th>商品单价</th>
							<th>可选操作</th>
						</tr>
						<tr>
							<td>657</td>
							<td>Samsung TV</td>
							<td>2014-11-7 11:31</td>
							<td><input class="btn btn-warning" value="￥30.00" /></td>
							<td>
								<a href="produt-detail.html">查看</a>|
								<a href="product-edit.html">编辑</a>
							</td>
						</tr>
						<tr>
							<td>657</td>
							<td>Xbox One</td>
							<td>2014-11-7 11:31</td>
							<td><input class="btn btn-info" value="￥3000.00" /></td>
							<td>
								<a href="produt-detail.html">查看</a>|
								<a href="product-edit.html">编辑</a>
							</td>
						</tr>
						<tr>
							<td>657</td>
							<td>Samsung Phone</td>
							<td>2014-11-7 11:31</td>
							<td><input class="btn btn-success" value="￥130.00" /></td>
							<td>
								<a href="produt-detail.html">查看</a>|
								<a href="product-edit.html">编辑</a>
							</td>
						</tr>
						<tr>
							<td>657</td>
							<td>Iphone X</td>
							<td>2014-11-7 11:31</td>
							<td><input class="btn btn-danger" value="￥380.00" /></td>
							<td>
								<a href="produt-detail.html">查看</a>|
								<a href="product-edit.html">编辑</a>
							</td>
						</tr>
						<tr>
							<td>657</td>
							<td>Samsung TV</td>
							<td>2014-11-7 11:31</td>
							<td><input class="btn btn-warning" value="￥30.00" /></td>
							<td>
								<a href="produt-detail.html">查看</a>|
								<a href="product-edit.html">编辑</a>
							</td>
						</tr>
						<tr>
							<td>657</td>
							<td>Xbox One</td>
							<td>2014-11-7 11:31</td>
							<td><input class="btn btn-info" value="￥3000.00" /></td>
							<td>
								<a href="produt-detail.html">查看</a>|
								<a href="product-edit.html">编辑</a>
							</td>
						</tr>
						<tr>
							<td>657</td>
							<td>Samsung Phone</td>
							<td>2014-11-7 11:31</td>
							<td><input class="btn btn-success" value="￥130.00" /></td>
							<td>
								<a href="produt-detail.html">查看</a>|
								<a href="product-edit.html">编辑</a>
							</td>
						</tr>
						<tr>
							<td>657</td>
							<td>Iphone X</td>
							<td>2014-11-7 11:31</td>
							<td><input class="btn btn-danger" value="￥380.00" /></td>
							<td>
								<a href="produt-detail.html">查看</a>|
								<a href="product-edit.html">编辑</a>
							</td>
						</tr>
						<tr>
							<td>657</td>
							<td>Samsung TV</td>
							<td>2014-11-7 11:31</td>
							<td><input class="btn btn-warning" value="￥30.00" /></td>
							<td>
								<a href="produt-detail.html">查看</a>|
								<a href="product-edit.html">编辑</a>
							</td>
						</tr>
						<tr>
							<td>657</td>
							<td>Xbox One</td>
							<td>2014-11-7 11:31</td>
							<td><input class="btn btn-info" value="￥3000.00" /></td>
							<td>
								<a href="produt-detail.html">查看</a>|
								<a href="product-edit.html">编辑</a>
							</td>
						</tr>
						<tr>
							<td>657</td>
							<td>Samsung Phone</td>
							<td>2014-11-7 11:31</td>
							<td><input class="btn btn-success" value="￥130.00" /></td>
							<td>
								<a href="produt-detail.html">查看</a>|
								<a href="product-edit.html">编辑</a>
							</td>
						</tr>
						<tr>
							<td>657</td>
							<td>Iphone X</td>
							<td>2014-11-7 11:31</td>
							<td><input class="btn btn-danger" value="￥380.00" /></td>
							<td>
								<a href="produt-detail.html">查看</a>|
								<a href="product-edit.html">编辑</a>
							</td>
						</tr>
						<tr>
							<th>商品编号</th>
							<th>商品名称</th>
							<th>添加时间</th>
							<th>商品单价</th>
							<th>可选操作</th>
						</tr>
					</table>
				</div>
				<div class="orderPageDiv">
					<div class="pageNumDiv">
						第<span class="begin">1</span>至<span class="end">10</span>条 (共
						<span class="sum">64</span>条)
					</div>
					<div class="pageJumpDiv">
						<input type="button" class="home" value="首页" />
						<input type="button" class="previousPage" value="上一页" />
						<input type="button" class="numPage" value="1" />
						<input type="button" class="nextPage" value="下一页" />
						<input type="button" class="end" value="尾页" />
					</div>
				</div>
			</div>

		</div>
	</body>

</html>