<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/book.css" />
		<link rel="stylesheet" href="css/order-list.css" />
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/hide.css" />	
		<script type="text/javascript" src="js/order-list.js" ></script>
	</head>
	<body>	
		<div class="bodyDiv">
			<div class="orderBarDiv">
				<div class="orderBar">
					<img src="img/header/set.png" />
					<span>订单管理</span>
					<span>> 所有订单</span>
				</div>
			</div>	
			<div class="orderDiv">
				<div class="orderTable">
					<table class="table table-striped table-hover table-bordered" id="table">
						<tr>
							<th>订单编号</th>
							<th>订单状态</th>
							<th>创建时间</th>
							<th>订单总额</th>
							<th>可选操作</th>
						</tr>
						<tr>
							<td>183</td>
							<td><input class="btn btn-warning" id="oneStatus" value="待处理" onclick="showdetail(this);"  /></td>
							<td>2014-11-7 11:31</td>
							<td>￥50.00</td>
							<td>
								<a href="order-Detail.html">查看</a>|
								<a href="order-Process.html">处理</a>
							</td>
						</tr>
						<tr>
							<td>183</td>
							<td><input class="btn btn-info" value="处理中" onclick="showdetail(this);"/></td>
							<td>2014-11-7 11:31</td>
							<td>￥50.00</td>
							<td>
								<a href="order-Detail.html">查看</a>|
								<a href="order-Process.html">处理</a>
							</td>
						</tr>
						<tr>
							<td>183</td>
							<td><input class="btn btn-success" value="已发货" onclick="showdetail(this);"/></td>
							<td>2014-11-7 11:31</td>
							<td>￥50.00</td>
							<td>
								<a href="order-Detail.html">查看</a>|
								<a href="order-Process.html">处理</a>
							</td>
						</tr>
						<tr>
							<td>657</td>
							<td><input class="btn btn-danger" value="已交付" onclick="showdetail(this);"/></td>
							<td>2014-11-7 11:31</td>
							<td>￥50.00</td>
							<td>
								<a href="order-Detail.html">查看</a>|
								<a href="order-Process.html">处理</a>
							</td>
						</tr>
						<tr>
							<td>657</td>
							<td><input class="btn btn-warning" value="待处理" onclick="showdetail(this);"/></td>
							<td>2014-11-7 11:31</td>
							<td>￥50.00</td>
							<td>
								<a href="order-Detail.html">查看</a>|
								<a href="order-Process.html">处理</a>
							</td>
						</tr>				
						<tr>
							<td>657</td>
							<td><input class="btn btn-info" value="处理中" onclick="showdetail(this);"/></td>
							<td>2014-11-7 11:31</td>
							<td>￥50.00</td>
							<td>
								<a href="order-Detail.html">查看</a>|
								<a href="order-Process.html">处理</a>
							</td>
						</tr>
						<tr>
							<td>657</td>
							<td><input class="btn btn-success" value="已发货" onclick="showdetail(this);"/></td>
							<td>2014-11-7 11:31</td>
							<td>￥50.00</td>
							<td>
								<a href="order-Detail.html">查看</a>|
								<a href="order-Process.html">处理</a>
							</td>
						</tr>
						<tr>
							<td>657</td>
							<td><input class="btn btn-danger" value="已交付" onclick="showdetail(this);"/></td>
							<td>2014-11-7 11:31</td>
							<td>￥50.00</td>
							<td>
								<a href="order-Detail.html">查看</a>|
								<a href="order-Process.html">处理</a>
							</td>
						</tr>
						<tr>
							<td>657</td>
							<td><input class="btn btn-warning" value="待处理" onclick="showdetail(this);"/></td>
							<td>2014-11-7 11:31</td>
							<td>￥50.00</td>
							<td>
								<a href="order-Detail.html">查看</a>|
								<a href="order-Process.html">处理</a>
							</td>
						</tr>
						<tr>
							<td>657</td>
							<td><input class="btn btn-info" value="处理中" onclick="showdetail(this);"/></td>
							<td>2014-11-7 11:31</td>
							<td>￥50.00</td>
							<td>
								<a href="order-Detail.html">查看</a>|
								<a href="order-Process.html">处理</a>
							</td>
						</tr>
						<tr>
							<td>657</td>
							<td><input class="btn btn-success" value="已发货" onclick="showdetail(this);"/></td>
							<td>2014-11-7 11:31</td>
							<td>￥50.00</td>
							<td>
								<a href="order-Detail.html">查看</a>|
								<a href="order-Process.html">处理</a>
							</td>
						</tr>
						<tr>
							<td>657</td>
							<td><input class="btn btn-danger" value="已交付" onclick="showdetail(this);"/></td>
							<td>2014-11-7 11:31</td>
							<td>￥50.00</td>
							<td>
								<a href="order-Detail.html">查看</a>|
								<a href="order-Process.html">处理</a>
							</td>
						</tr>
						<tr>
							<td>657</td>
							<td><input class="btn btn-warning" value="待处理" onclick="showdetail(this);"/></td>
							<td>2014-11-7 11:31</td>
							<td>￥50.00</td>
							<td>
								<a href="order-Detail.html">查看</a>|
								<a href="order-Process.html">处理</a>
							</td>
						</tr>
						<tr>
							<td>657</td>
							<td><input class="btn btn-info" value="处理中" onclick="showdetail(this);"/></td>
							<td>2014-11-7 11:31</td>
							<td>￥50.00</td>
							<td>
								<a href="order-Detail.html">查看</a>|
								<a href="order-Process.html">处理</a>
							</td>
						</tr>
						<tr>
							<td>657</td>
							<td><input class="btn btn-success" value="已发货" onclick="showdetail(this);"/></td>
							<td>2014-11-7 11:31</td>
							<td>￥50.00</td>
							<td>
								<a href="order-Detail.html">查看</a>|
								<a href="order-Process.html">处理</a>
							</td>
						</tr>
						<tr>
							<td>657</td>
							<td><input class="btn btn-danger" value="已交付" onclick="showdetail(this);"/></td>
							<td>2014-11-7 11:31</td>
							<td>￥50.00</td>
							<td>
								<a href="order-Detail.html">查看</a>|
								<a href="order-Process.html">处理</a>
							</td>
						</tr>
						<tr>
							<th>订单编号</th>
							<th>订单状态</th>
							<th>创建时间</th>
							<th>订单总额</th>
							<th>可选操作</th>
						</tr>
					</table>
				</div>
				<div class="orderPageDiv">
					<div class="pageNumDiv">
						第<span class="begin">1</span>至<span class="end">10</span>条 (共
						<span class="sum">64</span>条)
					</div>
					<div class="pageJumpDiv">
						<input type="button" class="home" onclick="show();" value="首页" />
						<input type="button" class="previousPage" value="上一页" />
						<input type="button" class="numPage" value="1" />
						<input type="button" class="nextPage" value="下一页" />
						<input type="button" class="end" value="尾页" />
					</div>
				</div>
			</div>
			
			
		<div class="hideDiv" id="hide">
			<div class="SevODMid">
				<div class="MidDiv1">
					<span>订单详情</span>
					<p>日期：2017-10-10</p>
					<div class="Line"></div>
				</div>
				<div class="MidDiv2">
					<div class="Mid2_left">
						<div class="Mid2_left_title"><span>收件人</span></div>
						<div class="Mid2_left_detail">
							<div><span>姓名：</span><p>王翠花</p></div>
							<div><span>地址：</span><p>上海市黄浦区南京路步行街666号</p></div>
							<div><span>电话：</span><a href="order-list.html" title="电话">021-63502606</a></div>
						</div>
					</div>
					<div class="Mid2_left color1">
						<div class="Mid2_left_title"><span>#183</span></div>
						<div class="Mid2_left_detail">
							<div><span>创建时间：</span><p>2014-11-7 11:31</p></div>
							<div><span>订单总额：</span><p>￥265.22</p></div>
							<div><span>订单状态：</span>
								<div class="inputDiv">
									<input class="radioinput" type="radio" name="sex" checked="true"/>待处理
									<input class="radioinput" type="radio" name="sex"  />处理中
									<input class="radioinput" type="radio" name="sex" />已发货
									<input class="radioinput" type="radio" name="sex"  />已交付
									<input style="font-size: 16px;" type="button" value="保存" id="save" class="Sbutton" onclick="saveStatus();" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="MidDiv3">
					<div class="head color1">
						<div class="Num">数量</div>
						<div class="Name">名称</div>
						<div class="Id">商品编号</div>
						<div class="detail">商品描述</div>
						<div class="price">单价</div>
					</div>
					<div class="content">
						<div class="Num">1</div>
						<div class="Name">Call of Duty</div>
						<div class="Id"><a href="">455-981-211</a></div>
						<div class="detail">EI snort testosterone trophy friving gloves handsome</div>
						<div class="price">$64.5</div>
					</div>
					<div class="content color1" >
						<div class="Num">1</div>
						<div class="Name">Call of Duty</div>
						<div class="Id">455-981-211</div>
						<div class="detail">EI snort testosterone trophy friving gloves handsome</div>
						<div class="price">$64.5</div>
					</div>
					<div class="content">
						<div class="Num">1</div>
						<div class="Name">Call of Duty</div>
						<div class="Id"><a href="">455-981-211</a></div>
						<div class="detail">EI snort testosterone trophy friving gloves handsome</div>
						<div class="price">$64.5</div>
					</div>
					<div class="content color1">
						<div class="Num">1</div>
						<div class="Name">Call of Duty</div>
						<div class="Id">455-981-211</div>
						<div class="detail">EI snort testosterone trophy friving gloves handsome</div>
						<div class="price">$64.5</div>
					</div>
					<div class="content">
						<div class="Num">1</div>
						<div class="Name">Call of Duty</div>
						<div class="Id"><a href="">455-981-211</a></div>
						<div class="detail">EI snort testosterone trophy friving gloves handsome</div>
						<div class="price">$64.5</div>
					</div>
					<div class="content color1">
						<div class="Num">1</div>
						<div class="Name">Call of Duty</div>
						<div class="Id">455-981-211</div>
						<div class="detail">EI snort testosterone trophy friving gloves handsome</div>
						<div class="price">$64.5</div>
					</div>
				</div>
				<div class="MidDiv4">
					<div class="botton"><input type="button" name="Print" id="Print" value="Detail" onclick="location.href='order-Detail.html'"/></div>
				</div>
			</div>
		</div>
			
		</div>
	</body>

</html>