<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__STATIC__/css/AccountManage.css" />
		<link rel="stylesheet" href="__STATIC__/css/book.css" />		
		<link rel="stylesheet" href="__STATIC__/css/header.css">
		<link rel="stylesheet" href="__STATIC__/css/foot.css" />
		<script type="text/javascript" src="__STATIC__/js/header.js"></script>
		<script type="text/javascript" src="__STATIC__/js/index.js" ></script>
		<link rel="stylesheet" href="__STATIC__/css/orderConfirm.css" />
	</head>
	
	
	<body>
		<!--
        	作者：杨富宙
        	时间：2018-10-09
        	描述：页面顶部
        -->
		{include file="common/header.html"/}
  		<!--
          	作者：XXX
          	时间：2018-10-09
          	描述：页面中部示例
          -->
		
		<div class="mainDiv">
			<div class="AccountManageMainDiv">
			<!--<div  class="AccountManageBodyTopDiv">
				这是头部
			</div>-->
			<!--<iframe class="AccountManageBodyTopDiv" src="header.html" frameborder="0" scrolling="no"></iframe>-->
		
			<div class="AccountManageBodyDiv">
				<!--<div class="AccountManageBodyLeftDiv">
						<script type="text/javascript" src="__STATIC__/js/AccountManage.js" ></script>
						<div class="AMchooseDiv">账号管理   ></div>
						<div id="changepwd" onclick="choose(this)">修改密码</div>
						<div id="addaddress" onclick="choose(this)">添加地址</div>
				</div>-->
				<div class="leftmainDiv">
        			<!-- 左边栏-->
  					<div id="leftsidebar_box" class="lf">
    
    				<dl class="my_order">
      					<dt onClick="changeImage()" id="test1" >账户管理
        					<img src="__STATIC__/img/myOrder/myOrder1.png" id="test2">
      					</dt>
      					<dd class="first_dd" ><a href="password-change.html">
	          					修改密码
		          					
		        				</a></dd>
      					<dd>
	        				<a href="address-add.html">
	          					添加地址
		          					
		        				</a>
		      			</dd>
		    		</dl>
					</div>
				</div>
				<div class="rightmainDiv">
					
			
				<div id="AMChangePwdDiv" class="AccountManageBodyCenterDiv" >
					<div class="AMCPTopDiv">
						<div class="AMCPTopLeftDiv" >更改密码</div>
						<div class="AMCPTopRightDiv" onclick="onAMCPClick();">继续购物</div>
					</div>
					<div class="AMCPTopBottom">
					</div>
					<div class="AMCPInputDiv">
						<input type="text" id="name" name="name" placeholder="请输入当前密码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入当前密码'"/>
					</div>
					<div class="AMCPInputDiv">
						<input type="text" id="address" name="address" placeholder="请输入原密码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入原密码'"/>
					</div>
					<div class="AMCPInputDiv">
						<input type="text" id="tel" name="tel" placeholder="请确认新密码" onfocus="this.placeholder=''" onblur="this.placeholder='请确认新密码'"/>
					</div>
					<div class="AMCPButton"><input type="button" id="addaddress" name="addaddress" value="提交"></div>
		</div>		
					</div><!--<div id="AMChangePwdDiv" class="AccountManageBodyCenterDiv" >
					<div class="AMCPTopDiv">
						<div class="AMCPTopLeftDiv" >更改密码</div>
						<div class="AMCPTopRightDiv">继续购物</div>
					</div>
					<div class="AMCPTopBottom">
					</div>
					<div class="AMCPInputDiv">
						<input type="text" id="name" name="name" placeholder="请输入当前密码"/>
					</div>
					<div class="AMCPInputDiv">
						<input type="text" id="address" name="address" placeholder="请输入原密码"/>
					</div>
					<div class="AMCPInputDiv">
						<input type="text" id="tel" name="tel" placeholder="请确认新密码"/>
					</div>
					<div class="AMCPButton"><input type="button" id="addaddress" name="addaddress" value="提交"></div>
				</div>		-->
			<!--<script type="text/javascript">
 
				var aLi = document.getElementById("li");
				
    			for(var i=0;i<aLi.length;i++)
    			{
    				if(aLi[i].equals("changepwd")){
    					var c=document.getElementById("AMChangePwdDiv");
    					var a=document.getElementById("AMAddAddressDiv");
    					c.style.display="block";
    					a.style.display="none";
    				}
    				else if(aLi[i].equals("addaddress")){
    					var c=document.getElementById("AMChangePwdDiv");
    					var a=document.getElementById("AMAddAddressDiv");
    					a.style.display="block";
    					c.style.display="none";
    				}
    					
        			
    			}
</script>-->
<!--<script type="text/javascript">
        $(document).ready(function(){
            $(".point li a").click(function(){
                var order = $(".point li a").index(this);//获取点击之后返回当前a标签index的值
                $(".con" + order).show().siblings("div").hide();//显示class中con加上返回值所对应的DIV
            });
        })
    </script>-->
				
			</div>
	
			<!--<div class="AccountManageBottomDiv">
				这是尾部
			</div>-->
			<!--<iframe class="AccountManageBottomDiv" src="foot.html" frameborder="0" scrolling="no">-->
		</div>
		</div>
        
    
        
        <!--
        	作者：lajiaopingzi@163.com
        	时间：2018-10-09
        	描述：页面尾部
        -->
        {include file="common/foot.html"/}	
	</body>
	<script type="text/javascript" src="__STATIC__/js/jquery-3.1.1.min.js" ></script>
	<script type="text/javascript" src="__STATIC__/js/nanaorder.js" ></script>
</html>
